#confirm-delete-user-msg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    width: 380px;
    background-color: var(--main-white);
}

#confirm-delete-user-msg .btn {
    opacity: 0.5;
    border: 1px solid transparent;
    font-weight: 600;
}

#confirm-delete-user-msg .btn:hover {
    opacity: 1;
    border: 1px solid #000;
    background-color: #000;
    color: var(--main-white);
}